section
  h1
    | Evolving Work
  img.small(src="images/noun_party.png")
  h5
    | by Josh Dzielak—
    a(href="https://twitter.com/dzello") @dzello

section
  p This presentation was created for the students of<br/> <b>St. Jean de Passy</b> in Paris, France.
  img.small(src="images/noun_school.png")
  p It was first presented on November 23, 2015.
    
section
  img(src="images/noun_sisyphus.png")

section
  h1 Work has not always been <b>fun</b>.

section
  h1 ~12,000 B.C.
  img(src="images/noun_cave-painting.png")

section
  h1 Hunting
  img(src="images/noun_hunting.png")

section
  h1 Gathering
  img(src="images/noun_wood-gathering.png")

section
  h1 Running
  img(src="images/noun_running.png")

section
  h1 ...from bears
  img(src="images/noun_bear.png")

section
  h3 Not much <b>variety</b>.
  h3 <b>Working conditions</b> were not exactly ideal.

section
  h1 Long Hours
  img(src="images/noun_yawn.png")

section
  h1 Low Pay
  img(src="images/noun_beggar.png")

section
  h1 Boring Tasks
  img(src="images/noun_pull.png")

section
  h1 Evil Bosses
  img(src="images/noun_bane.png")

section
  h1 Unsafe Conditions
  img(src="images/noun_cougar.png")

section
  h1 Ugh.

section
  h3 It's taken <b>centuries</b>, but work has improved significantly.
  img(src="images/noun_clock.png")

section
  h1 Paychecks
  img(src="images/noun_paycheck.png")

section
  h1 Offices
  img(src="images/noun_office.png")

section
  h1 Benefits
  img(src="images/noun_doctor.png")

section
  h1 Technology
  img(src="images/noun_work.png")

section
  h2 Way more <b>fun</b> now.
  .fragment
    h1 You would <b class='red'>think</b>.

section
  h3 Yet, of current employees...
  table.percents
    tr
      td.bold 88%
      td 
        .fragment aren't passionate
    tr
      td.bold 66%
      td 
         .fragment feel overwhelmed
    tr
      td.bold 50%
      td 
         .fragment work too much overtime

section
  h2 <b class="red">79%</b> of companies say they have a significant <b class="red"> engagement problem</b>.

section
  h2 ...i.e. a significant <br><b class="pink">FUN problem</b> 
  img(src="images/noun_bored.png")

section
  h2 How do we <b>improve</b> this?

section
  p.quote "We yearn for more, for radically better ways to be in organizations. But is that genuinely possible, or mere wishful thinking? If it turns out that it is possible to create organizations that draw out more of our human potential, then what do such organizations look like?"<br><b>—Frederic Laloux</b>

section
  img(src="images/noun_party.png")
