section
  img.small(src="images/noun_beard.png")
  h2 I'm Josh Dzielak.
  p I like to have <b>fun</b> at work.

section
  h1 That hasn't always been <b>easy</b>.

section
  h1 Age: 15
  img(src="images/noun_fastfood.png")

section
  h1 Fast Food
  p.quote Would you like fries with that?

section
  h1 Fun-o-Meter
  img(src="images/noun_gauge_1.png")

section
  h1 Age: 19
  img(src="images/noun_programmer.png")

section
  h1 Web Developer
  p.quote Why doesn't this work in Internet Explorer?

section
  h1 Fun-o-Meter
  img(src="images/noun_gauge_2.png")

section
  h1 Age: 23
  img(src="images/noun_mess.png")

section
  h1 Technology Consultant
  p.quote How do we get out of this mess?

section
  h1 Fun-o-Meter
  img(src="images/noun_gauge_25.png")

section
  h1 Age: 27
  img(src="images/noun_takeoff.png")

section
  h1 Startup Entrepreneur
  p.quote There's no way this will work.
  p.quote.fragment <b>Or will it?</b>

section
  h1 Fun-o-Meter
  img(src="images/noun_gauge_4.png")

section
  h1 Age: 32
  img(src="images/noun_gardener.png")

section
  h1 Eco-Volunteer
  p.quote Where do I plant the spinach?
  p.quote.fragment <b>Anywhere!</b>

section
  h1 Fun-o-Meter
   img(src="images/noun_gauge_4.png")
